html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #fefffe;
    --secondary-color: #010101;
    --bg-color: #f2f3f7;
    --northWestShadow: -6px -6px 16px rgba(250, 250, 250, 0.2),
        -6px -6px 16px #bdcde1;
    --shadow: -6px -6px 16px rgba(250, 250, 250, 0.2), 6px 6px 16px #bdcde1;
}
